<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatAIFluentWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChatAIFluentWpf.Properties.Settings>
            <setting name="AzureKeyVaultUri" serializeAs="String">
                <value>https://uchi-chataiwpf-kv.vault.azure.net/</value>
            </setting>
            <setting name="AzureClientID" serializeAs="String">
                <value>5deaea0f-acc6-4c71-aa8b-ccf5f1f3a343</value>
            </setting>
            <setting name="AzureTenantID" serializeAs="String">
                <value>39ff9aae-e121-4388-83f4-b66586365fdd</value>
            </setting>
            <setting name="AzureClientSecret" serializeAs="String">
                <value>IoU8Q~P-KiAcFvaEY~08BI~rgyhg_mmyywp~rbIB</value>
            </setting>
            <setting name="VoiceVoxSpeakerId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpeechServiceConnection_InitialSilenceTimeoutMs"
                serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Speech_SegmentationSilenceTimeoutMs" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="InitialSystemPrompt" serializeAs="String">
                <value>あなたは日本語で会話ができるチャットボットです。</value>
            </setting>
            <setting name="AudioDeviceId" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxTokens" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="Temperature" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="WssProxy" serializeAs="String">
                <value />
            </setting>
        </ChatAIFluentWpf.Properties.Settings>
    </userSettings>
</configuration>